.myOrders {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px var(--sides-padding);

  &_content {
    padding: 20px;
    background: #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_top {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &_section {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          cursor: pointer;
        }
      }

      &_sort {
        display: flex;
        align-items: center;
        gap: 10px;

        div {
          padding: 5px 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 10px;
          background: #fff;

          > :nth-child(2) {
            font-size: 10px;
          }
        }
      }
    }

    &_item {
      display: flex;
      flex-direction: column;
      padding: 20px 10px;
      background: #fff;
      border-radius: 10px;
      gap: 20px;

      &_top {
        display: flex;
        align-items: center;
        padding-bottom: 25px;
        justify-content: space-between;
        border-bottom: 1px solid #c0c0c0;
        margin-bottom: 45px;

        section {
          display: flex;
          flex-direction: column;
          gap: 5px;

          p {
            font-weight: 600 !important;
          }
        }

        div {
          display: flex;
          align-items: center;
          gap: 10px;

          p {
            text-align: right;
          }
        }
      }

      &_section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 500;
        }
      }

      
    }
  }
}
